.analog-page h1{
    text-align: center;
}

.dashboard-collection{
    margin-top:3rem;
    width:55rem;
    display:flex;
    flex-direction:row;
    margin-left:auto;
    margin-right:auto;
}

.dashboard-collection>div {
    margin-left:auto;
    margin-right:auto;
}